.mkm-api-key-row td:first-child {
    width: 50%;
    font-style: italic;
}

.mkm-api-delete-key {
    width: 10%;
}

.mkm-api-delete-key a {
    color: red;
}

.mkm-api-app-form-label {
    width: 160px;
    display: inline-block;
}

.mkm-api-apps-show tr {
    background: #fff;
}